<launch>
  <arg name="floorplan" default="$(find eurecarr_simulation)/cfg/sim_simple_f1.yaml"/>
  <arg name="remap_map" default="floorplan"/>
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg floorplan) map:=$(arg remap_map)">  
    <param name="frame_id" value="odom" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find eurecarr_simulation)/cfg/dynamics_simulation.rviz" />

</launch>

