<!-- Launches Arduino ROS serial and MessageInterface node -->

<launch>

  <!-- <include file="$(find autorally_core)/launch/hardware.machine" /> -->
  <include file="$(find eurecarr_core)/launch/MessageInterface.launch" />
  <include file="$(find eurecarr_core)/launch/GPS_IMU.launch" />

</launch>
